################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TextFragmentsMatch/obj
/TextFragmentsMatch/bin/Debug/netcoreapp2.0
